<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
<!-- <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap-icons.css'}"> -->
<script th:src="@{'/js/bootstrap.bundle.min.js'}"></script>
<link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/Bayan2019/project02/main/images/logos4.png" />
<title>SAPAR</title>
<style>
    :root {
        --bodyBackground: #ade8f4;
        --headerBackground: #57CC98;
        --headerColor: #05668d;
        --navbar2Background: #c7f8cb;
        --bodyColor: #34577a;
        --fieldsetBackground: #48cae4;
        --fieldsetLegend: #3B7813;
        --fieldsetColor: #043707;
        --buttonColor: #850000;
        --buttonHover: #B5F08E;
        --btnDangerLightBackground: #ff4dff;
        --buttonHover2: #4df698;
        --dangerZoneHover: #f12d41;
    }
    /* header {
        background-color: var(--headerBackground);
    } */
    #headerSearch {
        background-color: var(--headerColor);
        color: var(--headerBackground);
        border-radius: 5px;
    }
    #headerSearch:hover {
        background-color: greenyellow;
    }
    main {
        padding: 0 12px 12px 12px;
    }
    main form {
        border: var(--fieldsetColor) solid;
        border-radius: 10px;
        padding: 5px;
        margin: 3px;
    }
    main button.btn-danger {
        font-weight: 700;
        padding: 3px 12px;
        margin: 4px;
        border-radius: 5px;
        color: var(--bodyBackground);
        background-color: red;
        border: red solid 3px
    }
    main button.btn-danger:hover {
        background-color: var(--btnDangerLightBackground);
        color: red;
    }
    main button.btn {
        font-weight: 700;
        padding: 3px 12px;
        margin: 4px;
        border-radius: 5px;
        background-image: radial-gradient(var(--fieldsetLegend), var(--headerColor));
        color: var(--bodyBackground);
        border: var(--headerColor) solid 3px;
    }
    main button.btn:hover {
        background-image: radial-gradient(var(--headerColor), var(--buttonHover2));
        color: var(--bodyBackground);
        border: var(--fieldsetLegend) solid 3px;
    }
    main .btn {
        font-weight: 700;
        padding: 3px 12px;
        margin: 4px;
        border-radius: 5px;
        background-image: radial-gradient(var(--fieldsetLegend), var(--headerColor));
        color: var(--bodyBackground);
        border: var(--headerColor) solid 3px;
    }
    main .btn:hover {
        background-image: radial-gradient(var(--headerColor), var(--buttonHover2));
        color: var(--bodyBackground);
        border: var(--fieldsetLegend) solid 3px;
    }
    .nav-item form {
        padding: 0;
        margin: 0;
    }
    .ul-reference {
        background-color: var(--navbar2Background);
    }
    .reference {
        border: none;
        color: var(--bodyColor);
        background: transparent;
        padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);;
    }
    .reference:hover {
        color: greenyellow;
        background: transparent;
    }
    .navbar-project {
        max-width: 300px;
        min-width: 300px;
    }
    .ul-languages {
        padding-left: 8px;
    }
    .select-language {
        background: transparent;
        border-radius: 2px;
        border: none;
    }
    .card-footer {
        background-color: #cee5f2;
        color: #6279b8;
    }
    svg {
        vertical-align: middle;
    }
    .danger-zone:hover {
        color: var(--dangerZoneHover);
    }
    .talk-bubble {
        float: left;
    }
    .talk-bubble-you {
        float: right;
    }
    .talktext{
        padding: 7px;
        border-top-left-radius: 0;
        border-top-right-radius: 12px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        float: left;
        border: 3px solid #05668d;
    }
    .talktext-you{
        padding: 7px;
        border-top-left-radius: 12px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        float: right;
        border: 3px solid #679436;
    }
    .sec {
        margin-bottom: 1px;
        font-size: 12px;
    }
    .comments {
        display: flex;
        flex-direction: column;
    }
    .vertical-navbar {
        margin-top: 0;
        background-color: var(--headerColor);
    }
    .vertical-navbar .nav-link {
        color: var(--navbar2Background);
    }
</style>