<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/bitlab-shop-layout">
    <!-- <head th:insert="fragments/head-bitlab">
    </head> -->
    <!-- <body> -->
        <!-- <header th:insert="fragments/header-bitlab-shop">          
        </header> -->
        <div layout:fragment="siteContent">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col" th:each="item: ${items}">
                    <div class="card text-center mb-3 h-100">
                        <div class="card-header">
                            <a th:href="@{'/bitlab-shop/detail/'+${item.id}}">
                                <h5 th:text="${item.name}"></h5>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.price}"></h5>
                            <p class="card-text" th:text="${item.description}"></p>
                            <a href="#" class="btn btn-success money">
                                Buy Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </body> -->
</html>