<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:insert="fragments/head-main"></head>
    <body>
        <header th:insert="fragments/header-main" style="background-color: var(--headerBackground);"></header>
        <main>
            <h3 th:each="f: ${films}">
                <span th:text="${f.id}"></span>.
                <span th:text="${f.name}"></span>, year:
                <span th:text="${f.year}"></span>, rating:
                <span th:text="${f.rating}"></span>, description: 
                <span th:text="${f.description}"></span>
            </h3>
            <form action="/add-film" method="post">
                <div>
                    <label for="filmName">Name:</label>
                    <input type="text" name="name" id="filmName" class="form-control">
                </div>
                <div>
                    <label for="filmYear">Year:</label>
                    <input type="number" name="year" id="filmYear" class="form-control">
                </div>
                <div>
                    <label for="filmRating">Rating:</label>
                    <input type="number" step="0.1" name="rating" id="filmRating" class="form-control">
                </div>
                <div>
                    <label for="filmDescription">Description:</label>
                    <textarea type="text" rows="5" name="description" id="filmDescription"
                    class="form-control"></textarea>
                </div>
                <button type="submit">ADD FILM</button>
            </form>
        </main>
    </body>
</html>