<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/crm-layout">
    <div layout:fragment="siteContent">
        <div style="margin: 5px;" th:object="${ar}">
            <div class="col-4" th:style="${ar.handled} ? 'color: red' : 'display: none'">
                <table class="table table-secondary">
                    <thead>
                        <th></th>
                        <th>NAME</th>
                        <th>SURNAME</th>
                        <th>DEPARTMENT</th>
                    </thead>
                    <tbody th:each="operator: ${ar.getOperators()}">
                        <form th:action="@{'/crm/detail-request/delete-operator'}" method="post">
                            <input type="hidden" name="application_request_id" th:value="${ar.id}">
                            <input type="hidden" name="operator_id" th:value="${operator.id}">
                            <tr>
                                <td>
                                    <button class="btn btn-danger"> x </button>
                                </td>
                                <td th:text="${operator.name}"></td>
                                <td th:text="${operator.surname}"></td>
                                <td th:text="${operator.department}"></td>
                            </tr>
                        </form>
                    </tbody>
                </table>
            </div>
            <form th:action="@{'/crm/detail-request'}" method="post">
                <!-- <h1 th:style="${ar.handled} ? 'color: green;' : 'color: red;'" th:text="${ar.handled} ? 'Processed' : 'Not Processed'"></h1> -->
                <div>
                    <label for="applicationId">ID</label>
                    <input type="text" name="id" id="applicationId" th:value="${ar.id}" readonly class="form-control"> <br/>
                </div>
                <div>
                    <label for="applicationName">Name:</label>
                    <input type="text" name="userName" id="applicationName" th:value="${ar.userName}" class="form-control">
                </div>
                <div>
                    <label for="applicationCourse">Course:</label>
                    <select name="course.id" id="applicationCourse" class="form-control">
                        <option th:each="course: ${courses}"
                            th:value="${course.id}"
                            th:text="${course.name}"
                            th:selected="${course.id==ar.course.id}"
                            ></option>
                    </select>
                </div>
                <div>
                    <label for="applicationCommentary">Commentary:</label>
                    <textarea type="text" rows="5" name="commentary" id="applicationCommentary"
                    th:text="${ar.commentary}"
                    class="form-control"></textarea>
                </div>
                <div>
                    <label for="applicationPhone">Phone:</label>
                    <input type="tel" name="phone" id="applicationPhone" class="form-control" 
                    pattern="^[+]{1}(?:[0-9\-\(\)\/\.]\s?){6, 15}[0-9]{1}$"
                    th:value="${ar.phone}">
                </div>
                <button type="submit" class="btn btn-secondary">SAVE</button>
                <button type="button" 
                    class="btn btn-primary" 
                    data-bs-toggle="modal"
                    th:style="${ar.handled} ? 'display: none' : ''"
                    data-bs-target="#processApplicationRequest">
                    PROCESS
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteApplicationRequest">
                    DELETE
                </button>
            </form>
            <div class="modal" tabindex="-1" id="processApplicationRequest">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">CONFIRM PROCESS</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{'/crm/detail-request/process'}" method="post">
                            <input type="hidden" name="application_request_id" th:value="${ar.id}">
                            <div class="col-4">
                                <table class="table table-striped">
                                    <thead>
                                        <th></th>
                                        <th>NAME</th>
                                        <th>SURNAME</th>
                                        <th>DEPARTMENT</th>
                                    </thead>
                                    <tbody th:each="operator: ${operators}">
                                        <!-- <input type="hidden" name="operators" th:value="${operator.id}"> -->
                                        <tr>
                                            <td>
                                                <input type="checkbox" name="operators" th:value="${operator.id}">
                                            </td>
                                            <td th:text="${operator.name}"></td>
                                            <td th:text="${operator.surname}"></td>
                                            <td th:text="${operator.department}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="modal-body">
                                <input type="hidden" name="id" th:value="${ar.id}" readonly />
                            </div> -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                                <button type="submit" class="btn btn-primary">ASSIGN</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal" tabindex="-1" id="deleteApplicationRequest">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">CONFIRM DELETE</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{'/crm/detail-request/delete'}" method="post">
                            <div class="modal-body">
                                <input type="hidden" name="id" th:value="${ar.id}" readonly />
                                <h3>Are you sure?</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CANCEL</button>
                                <button type="submit" class="btn btn-danger">DELETE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>