<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layouts/crm-layout">
        <div layout:fragment="siteContent">
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col" th:each="ar: ${applicationRequests}">
                    <div th:class="${ar.handled ? 'card border-success text-success' : 'card border-danger text-danger'}">
                        <h5 class="card-header" th:text="${ar.userName}"></h5>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${ar.courseName}"></h5>
                            <p class="card-text" th:text="${ar.commentary}"></p>
                            <a class="btn btn-primary" th:href="@{'/crm/detail-request/'+${ar.id}}">
                                DETAILS
                            </a>
                        </div>
                        <div class="card-footer bg-transparent" th:text="${ar.phone}"></div>
                    </div>
                </div>
            </div>
        </div>
    <!-- </body> -->
</html>